<h1>Tasks</h1>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, id: "flash_#{name}" %>
<% end %>

<%= form_for(Task.new) do |f| %>
	<%= f.text_field :content %>
	<%= f.submit "Add Task" %>
<% end %>


<h3 id="incomplete_hl">Incomplete Tasks</h3>
	<div id="incomplete_tasks">
		<%= render @incomplete %>
	</div>

<h3 id="comp">Completed Tasks</h3>
	<div id="complete_tasks">
		<%= render @complete %>
	</div>


<script>
	
	//var arr = <%= @complete %>;
	//var d = document.getElementById('comp');
	//d.innerHTML = "Gogo Javascript <%=  @complete[0].content %>";

	

</script>